body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5; /* Fondo blanco */
    color: #333; /* Color principal de texto */
    padding-bottom: 100px; /* Padding al final del documento */
  }
  
  .container {
    width: 780px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff; /* Fondo blanco */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .box-1 {
    width: 30%;
    float: left;
    background-color: #cfe7f7; /* Azul claro */
    height: 100vh; /* 100% de altura de la ventana */
    padding-bottom: 100px; /* Padding al final */
    padding-left: 20px;
  }
  
  .box-2 {
    width: 60%;
    float: right;
    box-sizing: border-box;
    height: 100%;
    padding-left: 0px !important;
    padding-right: 60px !important;
    margin-right: 20px;
  }
  
  .subtitle {
    margin-bottom: 20px;
    margin-top: 40px;
    letter-spacing: 3.5px;
    font-weight: bold;
    color: #1a5276; /* Azul oscuro */
  }
  
  h1 {
    font-size: 54px;
    line-height: 30px;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    color: #1a5276; /* Azul oscuro */
  }
  
  .list-contact {
    list-style: none;
    padding-left: 0;
  }
  
  .list-contact li {
    margin-top: 5px;
    color: #3a679d; /* Azul medio */
  }
  
  .list-experience {
    padding-left: 25px;
  }
  
  .separator,
  hr {
    margin: 18px 0;
    border: none;
    border-top: 1px solid #a6a6a64e;
  }
  
  /* Nuevos estilos para los títulos, subtítulos y textos de "WORK EXPERIENCE" */
  .work-experience-title {
    color: #555; /* Color gris oscuro para el título de "WORK EXPERIENCE" */
  }
  
  .work-experience-subtitle {
    color: #777; /* Color gris medio para los subtítulos dentro de "WORK EXPERIENCE" */
  }
  
  .work-experience-text {
    color: #000; /* Color gris claro para los textos dentro de "WORK EXPERIENCE" */
  }