@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

body {
  margin: 0;
  padding: 0;
}

@page {
  size: A4;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mb-2 {
  margin-bottom: 20px;
}

.container {
    width: 780px; 
    margin: 0 auto; 
    box-sizing: border-box; 
}

.box-1 {
  width: 30%;
  float: left;
  height: 100%;
  position: relative;
  border-right: 2px solid #a6a6a64e;
  padding-right: 37px;
  box-sizing: border-box;
}

.box-2 {
  width: 60%;
  float: right;
  height: 100%;
  position: relative;
  padding-left: 37px;
  box-sizing: border-box;
  margin-right: 60px;
}

.subtitle {
  margin-bottom: 20px;
  margin-top: 40px;
  font-family: 'Glacial Indifference', sans-serif;
  letter-spacing: 3.5px;
  font-weight: bold;
}

.img-profile {
  width: 188px;
  height: 188px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.list-contact {
  list-style: none;
  padding-left: 0;
  font-family: 'Roboto', sans-serif;
}

.list-contact li {
  margin-top: 5px;
}

h1 {
  font-size: 54px;
  line-height: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
}

.list-experience {
  padding-left: 25px;
  font-family: 'Roboto', sans-serif;
}

.separator,
hr {
  margin: 18px 0;
  border: none;
  border-top: 1px solid #a6a6a64e;
}